.card {
  width: 230px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}
.card:hover img {
  transform: scale(1.05);
}
.card:active{
  transform: scale(.9);
}

.imageWrapper img {
  transition: transform 0.3s ease;
}


/* Image */
.imageWrapper {
  position: relative;
  width: 100%;
  height: 150px;
  background: #f5f5f5;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Discount badge */
.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #e53935;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 6px;
}

/* Info */
.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

/* Title */
.title {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  line-height: 1.3;
  overflow: hidden;
  
}

/* Description */
.description {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
  overflow: hidden;
}
.title,
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* Price */
.priceRow {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: auto;
}

.oldPrice {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

.newPrice {
  font-size: 15px;
  font-weight: 700;
  color: #111;
}
