.order_item {
  width: 97%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.order_header {
  font-weight: bold;
  color: #034ad9;
}

.order_row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.highlight {
  color: #e49712;
  font-weight: 600;
}

.order_total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #eee;
  padding-top: 10px;
  color: #1aa84a;
}
