.list_pagination {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: right;
  gap: 20px;
width: 70%;
}
.link_pagination {
  border: solid 1px #000;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000;
  transition: .3s;
}

.activelink_pagination{
    background-color: #185a78;
    color: #fff;
    border-radius: 50%;
    z-index: 100;
    transition: .3s;
    transform: translateY(-5px);
}
