.container {
  width: 400px;
  max-width: 90%;
  min-height: 520px;
  margin: 48px auto 0 auto;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #4db6ac;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submitButton {
  margin-top: 32px;
  font-weight: 700;
  background-color: #4db6ac;
  color: #fff;
  text-transform: none;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.divider {
  margin: 32px 0;
  text-align: center;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all ease;
}

.googleButton:hover {
  background-color: #f7f7f7;
}

.googleIcon {
  width: 20px;
  height: 20px;
}
