.signupButton {
  background-image: linear-gradient(45deg, #4db6ac, #4b0082);
}
.signupButton:hover {
  background-image: linear-gradient(45deg, #4b0082, #4db6ac);
}

.topnav {
  padding: 10px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 0px 10px #908a8aff;
}

.navbuttons {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

/* sign up content */

.container {
  margin-top: 50px;
  padding: 0px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContent {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.firstsignupcontent {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(110deg, #fff 0%, #fff 50%, #4b0082 50%);
  /* background-color: #4b0082; Indigo */
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondsignupcontent {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .signupContent {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .signupContent {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .signupContent {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .signupContent {
    width: 960px;
  }
  .navbuttons {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .signupContent {
    width: 1140px;
  }
  .navbuttons {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .signupContent {
    width: 1320px;
  }
  .navbuttons {
    width: 30%;
  }
}
